files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;

          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;

          ssl_session_timeout  5m;

          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          #if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          #    set $year $1;
          #    set $month $2;
          #    set $day $3;
          #    set $hour $4;
          #}
          #access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          #access_log  /var/log/nginx/access.log  main;

          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDsjCCApoCCQDLY8awn7ZxtTANBgkqhkiG9w0BAQsFADCBmjELMAkGA1UEBhMC
      QU0xGDAWBgNVBAgMD0Rhdml0IFZhcmRhbnlhbjEQMA4GA1UEBwwHWWVyZXZhbjEQ
      MA4GA1UECgwHRW50b3VyczEUMBIGA1UECwwLRGV2ZWxvcG1lbnQxFDASBgNVBAMM
      C2VudG91cnMuYXBwMSEwHwYJKoZIhvcNAQkBFhJqZWRhdmFyZEBnbWFpbC5jb20w
      HhcNMjAwNzI0MDk0OTAxWhcNMjEwNzI0MDk0OTAxWjCBmjELMAkGA1UEBhMCQU0x
      GDAWBgNVBAgMD0Rhdml0IFZhcmRhbnlhbjEQMA4GA1UEBwwHWWVyZXZhbjEQMA4G
      A1UECgwHRW50b3VyczEUMBIGA1UECwwLRGV2ZWxvcG1lbnQxFDASBgNVBAMMC2Vu
      dG91cnMuYXBwMSEwHwYJKoZIhvcNAQkBFhJqZWRhdmFyZEBnbWFpbC5jb20wggEi
      MA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC/5ovJRP8Xdn5Sc/9WCPDU0SNJ
      HrpFn22/Z0283xzSsKke4lBYSYThZ1LjbZnXVTE0+Ypdcw/HTuhurhdMCKlYrDXk
      25j7vJIiLbfcwAe62rpSQksZ4CkNsnu5j1e4TjkIMposxOMbs553LK66OhUyftFm
      6NH3MEhJnPHYk2uzvyNj327sIjW1ugTN1yodmTi+GDatc3Tzn3lZmHPF6x7PInEn
      GESJa2Z2wbSw3Geg32+W26YkhjUOj6rL1Jhl1/enU1kuhBXxf/PExGrKMdWSSWuc
      orOVoITbxKa8AHvnlj33rUWrPywsD5Gg+zhodybFp0TzHjVTpV/gvtjMLdQ5AgMB
      AAEwDQYJKoZIhvcNAQELBQADggEBAL8G+2fgM84PGO/pObPdcF9CWzEPHibudYjq
      ravM5g8KaHTjgmH6qhxNSBZoMYw00CzzYLzKNv0Do6iMa77QQwqgl/kpwY81qngq
      15+hc/Q7rDrAKD/bnW9k+5P+d2jBiVoJLsiMNls9i7mToQjULbu6b0tXO3DqcBAE
      dSrDyBzKIatp69TrEwnqy924XehYBW4j17koOllyoi3Uw1WkCTB6budZ3wYKuoqz
      YJtAH5D3u52G/VK0IiJnyqOJmr4vWQ8DZUthJ+GaSS9ex0Z/D1xjExoxOkX+vDCi
      AS9laEhj5NvAJ40EHTro/gHaHVYkIH0SZZDTlI9eB+YfF0RdTmQ=
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEAve8SDN3Q+hLpD53U9yKDKExEg3eKoFlcNySgMVCxrQyl9Yye
      nozzC7nmN0Gu0wrCv5rBFXYX12v4zTowGtM4ZC2gaCjz6YJjCrWk2HyndJoPb0nr
      jV25ue3wOxtC4kxLE2SMcHNlIapZf5hP/uKI6zKSh3GurEaOjF/DxUcSwBiWF9r9
      z3UPeAOvnCv2YhNfxg5Va2wzeBZnGKJzhsCaXe369mzbaunPtKeAOTeQBdNkYypp
      gvWqhsBdtfILTRyycjh8xUHgJZ7BTPnn+E1IyK8Hzr2kd4Z9+QbTDOFxw12MMn/K
      ggbJuafTY7qygmOIeFhFVWBAeRM5vFBhnyberwIDAQABAoIBAAKTkKIeDCyoPwMY
      OABWNoNAbZl+8KF2NNsGoymoF5DqYAHxs2EhNlbNYcMUIAP63GNu/PmGjZI9g7V8
      +ZQTk2tAdzGShKSBQUiu6BqLrlXVlSoETa6wO8m64YxbtU+Oi2Iq9gC8f/2x6t7h
      OQyTFBpkqDowH5d0qZBb6DLv4OA8Lx6/+mUl/Ix1V9AwtpNGBhFvYt7q2OXG8T59
      GZ1P4tNmV9jkf8n0HxyZAUpAvqI2+9O9qMrejQj2cYmNE3BXxhJCY+ky+ik7B/OE
      xoQui/uEwHVpfl2LnV14ePD0D/jORcQO0V5To5cXxhOg6pCu5FHrAQGbXZbgzJGd
      KpAWTaECgYEA+ExE1o8lcPevyfoZtHCBFm0lHwv3BMQzoLo5QQ5fU7sNGyl63kN1
      J4DOIVJR/dlA63/f9E9zO1wgGi5t33WTUUfDyjQ7NGMUG+7yw0qkQFfyszBzhBQP
      OWARWNvt73G8Xfdt2qZ0POehd7QdKuf6DzQ131jMoGH5JTnIQmGod7ECgYEAw9NV
      UdVd0Q4JhinWt2/QrSOBvsfIK1rzeH6QVJ6I+arki+9mtL6pn6T8PybQlRC/9V4c
      hJlZkiZ07NqPsVYt+cb5sBfTT0N+f8YPxamcULNU9UFKeoKSXMMMZVXPP0LfgRG5
      HwrL4PuswKVALG8V9pXSp3duIi4G8h+MY/2atF8CgYEAw8G1wAcpeK/+atoAbA8K
      5vhz/M89GAfrwDsxqoW/SE8/nPuOAC/k7JkTapfxRpaDJWgy0/XTnqgaMyoJu9SB
      qeJPjVqylrHKh99Si/+MEaKFGRsI58e83PpNkuYJ5+6emOLbPDhhiicAWVSqbkpo
      DpaWJplm8sdrWxr8NMGzxXECgYATaobRIFi2+69SEB/r/Dgykoywv9pHAjOVxObG
      nRlzt9AFV+1VCnqDC7a/BDg2L3z49SXat+G7rfh1643HxYW1eFcVcKdQ+p42SQsT
      TCflkIJh9uFNmFiuveAixAlSemzyvTEftNBWNF4Ck9/zB+ijlGNYm2zeErY5l4sx
      9tk5/QKBgQDEbvPyuT+Bwqra9GqTV36TtSHV3V9Ec22nMyQbLWv9n6xRRrG1Z8rz
      4kahxqLdq9AG5vPYgemnNMmlQhFpCm78zag6j+LOxgUde83l6WC9kw4i33o1JR3M
      40zDgjJwb6B2v8wBOZZQIyE7QNRLR7WGfPoXOqq8hkVFfnpBvKPomQ==
      -----END RSA PRIVATE KEY-----