files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;

          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;

          ssl_session_timeout  5m;

          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          #if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          #    set $year $1;
          #    set $month $2;
          #    set $day $3;
          #    set $hour $4;
          #}
          #access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          #access_log  /var/log/nginx/access.log  main;

          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIICzjCCAbYCAQAwgYgxCzAJBgNVBAYTAkFNMRAwDgYDVQQIDAdZZXJldmFuMRAw
      DgYDVQQHDAdZZXJldmFuMQ4wDAYDVQQKDAVCZWFuczEMMAoGA1UECwwDRGV2MRQw
      EgYDVQQDDAtlbnRvdXJzLmFwcDEhMB8GCSqGSIb3DQEJARYSamVkYXZhcmRAZ21h
      aWwuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0OGEbBoQfHNB
      grcRRU/iy0lXmuvMURPuIlwp0iEUZPv8fz7Fp6PlJt6jc8whVILCo+tRMQkjGz1w
      auMzJ0bPSEsbjexwwoy/Nr6YZjo99QA2VLv2ifiUlTHOIUYHC3ujQ9lP3FQ4zS91
      nDPuX20d5NT9v7WHHO6bpwHvwO4VWWUENJkVQsioNSnPHeEA5Ip4R75wurNxUWvT
      88XsqdbLh0oDNyQjhk/2FEMVcHUkfCnesvM7MOJ8uQKw7biNMt4Aqf9ReOydMKFs
      jD2uJio6ZAHxg7W+K5vBDekDncEjdXljyE/hJGZT9kDpQ8yeq+gLEzMOVoeBD0be
      rn2oFa9plQIDAQABoAAwDQYJKoZIhvcNAQELBQADggEBAGqzK9yfFKq0ArYhq3RT
      xfTXVWsr/h/+LTZrTbQd6gEJaY6p9/eD1apM+uMevB1Utf0VUMoSfcnSHYx60A/1
      FbdmwRaA8RLtxDLab6QSQOb8MQgGH9Z6p20WDnJaoraANwXPvcetlBgxW8SXHgp/
      fua4GLXD/Nfogyta3QhX5kCD+39HO3lD0ypPu8q5N1Sl3+UhxqdttBuXKQF07mb6
      AgiNoV6Ce/E2AO1MhP+Y+2y+uqrBaMrp784T8++Ly4ssGf0Z8RzuTEHv3RthuZMA
      tV/4gtEPk5ynEMclkBUMwur16dThCRSb+lm4Kop+M36Hrtj+ze8KDFBFU45ACbK4
      4Ng=
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEogIBAAKCAQEA0OGEbBoQfHNBgrcRRU/iy0lXmuvMURPuIlwp0iEUZPv8fz7F
      p6PlJt6jc8whVILCo+tRMQkjGz1wauMzJ0bPSEsbjexwwoy/Nr6YZjo99QA2VLv2
      ifiUlTHOIUYHC3ujQ9lP3FQ4zS91nDPuX20d5NT9v7WHHO6bpwHvwO4VWWUENJkV
      QsioNSnPHeEA5Ip4R75wurNxUWvT88XsqdbLh0oDNyQjhk/2FEMVcHUkfCnesvM7
      MOJ8uQKw7biNMt4Aqf9ReOydMKFsjD2uJio6ZAHxg7W+K5vBDekDncEjdXljyE/h
      JGZT9kDpQ8yeq+gLEzMOVoeBD0bern2oFa9plQIDAQABAoIBACB7IQtqViv0BDje
      XMopbPvtkLjfd+sXrU0chchOKoy1foMO8M9rtgOAVWx5TqmEl93DhuGYKSRgPm3w
      nJC7+xmjzEoafUJTfpx1sN8cqWvCt7AfdmvoArrcftA/wnKvrCitzzRUyGxnt+Mt
      VCD0p9RgpoC8KqF+HSgwLecTXrCCs7A6D9nvh9b10s7uJegLhaat0kocPujW6ZaD
      abl/Nh8bMGxzjfzwvRvaZs8+w40sPkRhQd74vIQh/1kfEF1mrtFXWmQ3sEIATNXf
      lPux2d06czsqzrWcRx1JvDef2jYHIYzkZ2+tc137J27r3t/n02KPNyicdamPPiHX
      uDP/hBUCgYEA+WJ8jfK7eWsV3v6CyesicC0ZtUfbpxVHwQdDzxkn1CQMxIbjnjYl
      x9BPAVuxEcNk2uAkIz5JqGgYEw4QMIW4bC05PHcjxG2oWvQdsrjBvOArc994TczP
      DWU1gngwQYvGUhQd9Iv5vLUBcFsfhaPJ1fwKRflqxJWnEH322rKJwp8CgYEA1mv6
      nUSP3Rx7CYAIG1ZQs974m//0bTADJ90IwPlvsrnlaU0nQ4+mf9dLtMiwAdeynatI
      Hct+pFCNSHZEn2JJkmBvEofmObVRkkFss+2mphUGVU7hbT6yQdM7xNYvMbKaL4Vf
      Qgb0t1KRWo/RgIhWy8B0U4JGTaTvEUIjuiCPe0sCgYB/aEuOEbap34W6+XhERHbB
      rKj3rpCPmhWgjl+cTJPGk+xZ8zgSukMvBEN4xCmAk7zQ/bY4szfaa+PwyDyJLaf8
      zFXziEKjtgpO/Wy2xCFmp3hLqJ3D0aDujQh7cX/l3M0jXde3+lNKj4b+qe8+zWDu
      i+eLvFNJv9MsX85gCNrMrQKBgEru62NAjaIxDNJyGuMq1AM4HduupEXwLHom5aNC
      yIVGL+UP4HPc5MvyenOQWuoZ7kLpk8dN0VEtEWLMagjlOV7dMpPgSFXMhtg84vcy
      SzXpTRBNA7zA11znrBCK5W1RxE5tJrAVbDoQsdlbP1TS0Lpd5Ik2kskZpa57Va77
      KAlnAoGAYO23fIcoX5TasHbY/24MY300r1WfRr3Py2IPX1+yQVKDjoUUnzVkLxY2
      /sQvVKUIirz3r/lrJAHLN8ZMA2SMSSTcBTo4Csw5xd9OJWBEfnomikBNQthuuTL5
      QEAKOJMeCVrY0+jonPJSwrFXRiszszYGv2L6r85HfclqI3AUzBo=
      -----END RSA PRIVATE KEY-----