files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;

          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;

          ssl_session_timeout  5m;

          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          #if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          #    set $year $1;
          #    set $month $2;
          #    set $day $3;
          #    set $hour $4;
          #}
          #access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          #access_log  /var/log/nginx/access.log  main;

          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDljCCAn4CCQDVO45HyujCMjANBgkqhkiG9w0BAQsFADCBjDELMAkGA1UEBhMC
      QU0xEDAOBgNVBAgMB1llcmV2YW4xEDAOBgNVBAcMB1llcmV2YW4xDjAMBgNVBAoM
      BUJlYW5zMQwwCgYDVQQLDANEZXYxGDAWBgNVBAMMD2FiYy5lbnRvdXJzLmFwcDEh
      MB8GCSqGSIb3DQEJARYSamVkYXZhcmRAZ21haWwuY29tMB4XDTIwMDcyNDE5NDE0
      MVoXDTIxMDcyNDE5NDE0MVowgYwxCzAJBgNVBAYTAkFNMRAwDgYDVQQIDAdZZXJl
      dmFuMRAwDgYDVQQHDAdZZXJldmFuMQ4wDAYDVQQKDAVCZWFuczEMMAoGA1UECwwD
      RGV2MRgwFgYDVQQDDA9hYmMuZW50b3Vycy5hcHAxITAfBgkqhkiG9w0BCQEWEmpl
      ZGF2YXJkQGdtYWlsLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEB
      ANbfQHqSLwUB5IIrkrJ5UcNw2iMZ0spA4q6E4If7DSzcelQrzjhF8NUrylT2aay8
      dE3hy9NfSNBvcMkqidv4Irl7b2gcPAJzJiaNnaylRjfHX5X+DH+3cHl9uxOFlqqy
      ca5oFGjnA5YaFd3D6mG7CGU2wL3ds+Jjp105vAqFQZcwa2UiHQDRtOTXo45SVG5D
      pgiiD5irUWQASTt1HcH44qJ2fZqgdsxb+OYh+Uaa/Oh4IN1BpuM+HT+EFWwAjAg8
      CCX6QS9nz/Y5LUihKa2LUILkdrz9qsuUgpu0sRrMfYGbfd9+OCRRaH0Jd6q+Y1WR
      x3eKF6bBLAfnmPXEImAWrO8CAwEAATANBgkqhkiG9w0BAQsFAAOCAQEAN0g5SEHo
      YnTlB2zh/W5HW23DuZ9CAgc+z/Siw46D1+V8VY49dOfyrqzWK2kVwiaJu1ce2rR7
      0m4Tl/iSv4fRKI+z3fFOYKVJCR+aFqDtVPMNC/jPx7ai0ogdJy8TiVu5tkwnr/GK
      JUX9DF+/CMty28GKZjKmLqqqyS8C3OE9Swi1iNM2KiQPKQvmjTga8siOK8SK7OHN
      iWsuSqwHzZ0fos7b2x+U9bnStYPQ4KXGI5ssvvEp7vvKfcLsswHXWhId1aJY/0Qc
      zqU2nMJPl21ie/cBIqpXH0C1U0inDRHHaSh8+heuAH5zXeh7oUMw2eBZgi3phHCX
      LuMiOYvyU/JJeg==
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEA1t9AepIvBQHkgiuSsnlRw3DaIxnSykDiroTgh/sNLNx6VCvO
      OEXw1SvKVPZprLx0TeHL019I0G9wySqJ2/giuXtvaBw8AnMmJo2drKVGN8dflf4M
      f7dweX27E4WWqrJxrmgUaOcDlhoV3cPqYbsIZTbAvd2z4mOnXTm8CoVBlzBrZSId
      ANG05NejjlJUbkOmCKIPmKtRZABJO3UdwfjionZ9mqB2zFv45iH5Rpr86Hgg3UGm
      4z4dP4QVbACMCDwIJfpBL2fP9jktSKEprYtQguR2vP2qy5SCm7SxGsx9gZt93344
      JFFofQl3qr5jVZHHd4oXpsEsB+eY9cQiYBas7wIDAQABAoIBABp1ZzUwpwWQ1BiL
      UQcVFVJhpRrJZUFud/tRdWyJJ3gstguDUWNwiVVWjRWlOiIBGrk0YqrmgsrXziWX
      TV5+0ZfRcUh6oZETqND6gz3tJBZeQJDxtYxMhFcRemXO/1yJmKIHQuwf9jsXfzXN
      mCDsrP35ngZDNJFeAA/kuhj5i7gYDnRFMMU9SCNqexPFm8IRZ1pq2ZKwVxsZK0Wj
      zhUku0DVT2RTT6xHb/6ijcicFE2CuMM4nTnm+diFWv/jyRToIqg6af0i9/4jI8Ay
      8MV+1SMCS8UxtreQva0lMGwS8YGAYkTWARANqlAVX6kTxnZFfPFycJXeKTZ3G/fK
      E52GSRECgYEA83rvtE+nB3RbIHqNtXvTsUPKJhFMtBxbUc5jJqIQupcB1mPVHIqy
      RABsgFt1Qp/FVYmBdm90LoF7SbjoO0qGzC5Szk+oVC3YxHMm5ZmIPFBM+DtYnS92
      I8U66f8oLqc9AmR7BaOkjR8ffOC8yiybLBTIRu0NJHnOQNCDsZFUDLsCgYEA4eu7
      GX/OEVfJZDwpIehQD81WrOPf/CXRz24dVKz7fpjrem77841hf2k2cUSsI2zUWRCV
      GJSlljBzZfU+OX+Oi/W3fk7vuq9X6VSpoOJY5lT/M6hcytNE+A+McbwM8SF+h38Q
      deEWm5zceVjm5xGd/9pOiPWijEMIlMUx3gJH110CgYEA1TWJJF8/x6JXjhhjcVHO
      rYLMSQuLHIlcWkWdw53Vgl9rx35ChyzZL/0jBj+QblgUaHPx/3FXzsWp3YPjMNBx
      O+kwr+NHZveCw3yGyjXo+8/hptnpHjQKgwZaMcAzQq9GGIs+w1Bqbv2bCDKQf4YS
      F8bXHmzEvnU/bLhrKho1/LMCgYAdcxwlm8ph6l6fSVRXTjA5jxvQV7gX51otPv5l
      zlLOUuLHR/Zh7jkaYb2uEDScPZCEt6un06CuLkysqsZcumr7haFQvrtzS24bRWUD
      St4p0ESgGD9YVSf1ahl1rfzF5gbXZNHhe+D1kgIPc25OCrbc5jk8k0CIJijVM8tn
      VEbHJQKBgQCJujaxdvA9Ymdsxkx7PE6YRcqrtpdAqMCPAocTVfaQ0IhVjrt2FWks
      Q1t6rHLgi/SSbywzgpxMoV0Iv+xX7xyfDXKJEkVz6gzIRhQHtElTLpTcxv8vui4/
      wypXLFU9BIM/PmsW1CyQCRy5PXDMwPjQCEgh2BUvlnYHTWivpRvA/A==
      -----END RSA PRIVATE KEY-----